# Local Windows/Development
REACT_APP_API_BASE_URL=http://localhost:4000
REACT_APP_SESSION_API_BASE_URL=http://localhost:5001
REACT_APP_SESSION_API_KEY=local-dev-key-123

# Ubuntu Production Example
# REACT_APP_API_BASE_URL=http://52.22.173.61
# REACT_APP_SESSION_API_BASE_URL=http://52.22.173.61/session
# REACT_APP_SESSION_API_KEY=local-dev-key-123