.reservation-overlay-content {
  position: absolute;
  top: 0;
}
.reservation-overlay-title {
  color: white;
  opacity: 1;
  padding-left: 4rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.reservation-overlay-container {
  margin-top: 50px;
  height: 250px;
  padding: 0;

  position: relative;
}
/* CustomStepper.css */

.stepper-container {
  width: 500px;
  padding: 5px 10px 10px 0;
  letter-spacing: 0.6px;
}
