.background-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/Mask\ Group\ 1.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
}
.forget-title {
  letter-spacing: 0.82px;
  color: #ffffff;
  opacity: 1;
  font-weight: bold;
}
.forget-text {
  font-size: 0.8rem;
  letter-spacing: 0.53px;
  color: #ffffff;
  opacity: 1;
  display: flex;
  margin: 20px 0px;
}
.forget-container {
  display: flex;
  flex-direction: row;
}
.forgot-password-container {
  background: #1e1e1b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 0.7;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  width: 320px;
  height: fit-content;
  margin-left: 300px;
  margin-top: 100px;
  align-self: center;
  color: white;
  padding: 30px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
  color: #ffffff;
  opacity: 1;
}

.forgot-password-form input {
  width: 100%;
  padding: 2px;
  background: #a1a1a1 0% 0% no-repeat padding-box;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding-left: 8px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  letter-spacing: 0.53px;
  color: black;
}
.forget-back {
  width: 100px;
  padding: 0.5rem;
  background-color: black;
  border-radius: 34px;
  opacity: 1;
  color: white;
}
.forgot-password-form .forget-back:hover {
  background-color: #7f7f7f;
}

.forgot-button {
  padding: 0.5rem;
  background-color: #4e84c4;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
}
.forget-error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
.forgot-password-form .forget-button:hover {
  background-color: #0d509f;
}
