.login-form {
  height: fit-content;
  background-color: white;
  margin-top: 40px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 35%;
}
.login-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  margin-bottom: 3px;
  font-size: 0.6rem;
  letter-spacing: 0.6px;
}

.form-group input {
  width: 100%;
  padding: 2px;
  background: #a1a1a1 0% 0% no-repeat padding-box;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding-left: 8px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  letter-spacing: 0.53px;
  color: black;
}

.button-login {
  width: 290px;
  padding: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  background: #0d509f 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #00000029;
  opacity: 1;
}

button:hover {
  background-color: #0d509f;
}
.nav-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  max-width: 100%;
}
.login-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.forgot-password {
  color: #4a89dc;
  float: right;
  font-size: bold;
  font-size: 0.8rem;
}
